doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/meezz.js')
    script(type='text/javascript', src='/javascripts/SimpleWebRTC.js')
  body
    h1='Meezz'
    block content
